<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/index.css"/>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Architects+Daughter|Permanent+Marker" rel="stylesheet">
  </head>
  <body>
      <h1>My Songs</h1>
    <div class="grid-container">
        <% @songs.each do |song| %>
        <div class="grid-item">
        <ul>
          <li> <%= image_tag("play_button.jpg", :alt => "play button image") %>
          <li> <%= "Title: #{song.title}" %></li>
          <li> <%= "Length: #{song.length}" %></li>
          <li> <%= "Play Count: #{song.play_count}" %></li>
        </ul>
      </div>
        <% end %>
    </div>
  </body>
</html>
