body {
      background-color: #afeeee;
      font-family: 'Architects Daughter', Handwritting;
}

h1{
  font-family: 'Permanent Marker', Handwritting;
  font-size: 2em;
  text-align: center;
  font-style: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px 200px 200px 200px;
  padding: 5px;
  text-align: center;
  grid-gap: 25px;
}
